@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "HK Grotesk Bold" ;
    src: url(../assets/fonts/FontsFree-Net-HKGrotesk-Bold.woff2);
}

/*font-family: 'Poppins', sans-serif;*/
/*-------------------------------------------General-----------------------------------------------------*/
/*---variables---*/
$primary-color:#2BC4A2;
$primary-low:#1a9e7f;
$primary-strong:#008A6B;

$secondary-color:#00bbfa;
$secondary-low:#2ECAFF;
$secondary-strong:#0095C7;

$background-dark:#121212;/*#04081f*//*#0A214D*/
$background-light:#e8e6e9;

$original--color:#00ae5c;

$input-color:rgba(0, 0, 0, 0.6);

$exported-font:HK Grotesk Bold,'Segoe UI', Roboto, Oxygen, Ubuntu,'Open Sans', 'Helvetica Neue', sans-serif;
/*---end-variables---*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;width: 100vw;
    overflow-x: hidden;
    
    background-color:$background-light ;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #e6e6e6;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: #121212;
    
}

::-webkit-scrollbar-thumb{
    background-color: #2BC4A2;
    border-radius: 3px;
}

/*---------------------------Vertical-Line---------------------------*/
.ver-line{
    width: 1px;
    height: 50%;
    margin: 1em;
    background-color: $primary-color;
}
/*---Default---*/
h4{font-family: 'Poppins', sans-serif;font-size: 1.65rem; line-height: 150%;text-transform: uppercase;}
p{font-family: 'Poppins', sans-serif;font-size: 1.27rem; line-height: 140%; color: #121212;}

.title-ss{font-size: 1.5rem;line-height: 28px;
}
.title-s{font-size: 1.25rem;line-height: 24px;
}
.title-mm{font-size: 2.5rem;line-height: 44px;
}
.title-m{font-size: 2rem;line-height: 36px;
}
.title-gg{font-size: 4rem;line-height: 72px;
}
.title-g{font-size: 3rem;line-height: 56px;
}

.par-g{font-size: 1.125rem;line-height: 36px;
}
.par-m{font-size:1rem;line-height: 24px;
}
.par-s{font-size:.875rem;line-height: 22px;
}
.par-ss{font-size:.75rem;line-height: 18px;
}

.link{
    position: relative;
    text-decoration: none;
    color: lightgray;
    transition: .4s;
}

.link:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color:$primary-color;
    width: 20%;
    height: 2px;
    transition: all .4s;
}

.link:hover{color: white;
}
.link:hover::before{width: 100%;
}

/*---Default---*/
/*-----------------------------------------------------Links-----------------------------------------------------*/

a{
    position: relative;
    text-decoration: none;
    color: white;
    transition: .4s;
}

a:hover{
    color: lightgray;
}

a:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color:$primary-color;
    width: 20%;
    height: 2px;
    transition: all .4s;
}

a:hover::before{
    width: 100%;
}

/*-------------------------------------------Big-Fathers-----------------------------------------------------*/

header{
    position: relative;
    height: 81vh; width: 100%;
    display: flex; align-items: center;

    background:#121212 ;
    color: white;
}

main{
    margin:auto;
    padding:5%;
}

/*-----------------------------------------Dropbox-----------------------------------------*/
.menu-area{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.menu{
    position: relative;
    transition: color .2s ease-out;
    width: 33%;
    min-width: 150px;
    font-weight: 600;
    transition: all .3s;
    text-align: center;
    z-index: 7;
    
}

.menu:hover{
    text-shadow: 0 0 10px white;
}

.menu:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color: $primary-color;
    width: 0%;
    height: 2px;
    transition: all .4s;
    z-index: 3;
}

.menu:hover::before{
    width: 100%;
}

ul, li{
    list-style: none;
    cursor: pointer;
}

.submenu{
    position: absolute;
    width: 100%;
    top: 115%;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    color: white;
    text-shadow: none;
    cursor: default;
    font-weight: 400;
    z-index: 2;
    padding: 1%;
}

.submenu li{
    padding: 2%;
}

.submenu li:hover{
    color: $primary-color;
    background-color: rgba(0, 0, 0, 0.05);
}

.menu:hover > .submenu{
    display: block;   
}

/*--------------------------------------------Dropbox-Mobile--------------------------------------------*/
.mobile-menu-total{
    display: block; 
    position: absolute;
    top: 95%;
    left:-5%;
    z-index: 7;
}


.mobile-menu{
    position: relative;
    top:15%;
    transition: color .2s ease-out;
    width: 43vw;
    font-weight: 600;
    padding: 2%;
    background:rgba(100, 100, 100, 0.7);
    backdrop-filter: blur(10px);
    animation: return .3s ease-in-out;
    z-index: 7;
    
@keyframes return {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
}

.mobile-menu:hover{
    text-shadow: 0 0 10px white;
}

.mobile-menu:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color: $primary-color;
    width: 0%;
    height: 2px;
    transition: all .4s;
}

.mobile-menu:hover::before{
    width: 100%;
}

ul, li{
    list-style: none;
    cursor: pointer;
}

.mobile-submenu{
    width: 100%;
    top: 115%;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    color: white;
    text-shadow: none;
    cursor: default;
    font-weight: 400;
    z-index: 7;
}

.mobile-submenu li{
    padding: 2%;
    z-index: 5;
}

.mobile-submenu li:hover{
    color: $primary-color;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.05);
}

.mobile-menu:hover > .mobile-submenu{
    display: block;   
    z-index: 5;
}
/*------------------------------------------------------Navbar------------------------------------------------------*/

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: rgba(0, 0, 0, 0.5);*/
    backdrop-filter: blur(5px);
    height: 10vh;
    font-size: 0.9em ;
    z-index: 1;
}

.nav-components{
    position: relative;
    height: 100%;
    width: 97.5%;
    margin: auto;
    display: flex;            
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;

}
/*Nav-logo-----------------------------------------------*/
/*
.nav-logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 65px;
    width: 65px;
    background: white url(/assets/logo/logo3.png) center bottom no-repeat;
    background-size: 95%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 8px darkgray;
    transition: height .7s ease-in-out;
    z-index: 10;
}

.nav-logo:hover{
    height: 80vh;
    cursor: pointer;
    pointer-events: all;
}
*/
.nav-logo{
    background-size: 100%;
    height: 10%;width: 65px;
    margin-right: 5px;
    cursor: pointer;
}
.nav-logo img{
    height: 1000%;
    filter: drop-shadow(0 0 5px white);
    animation: shining 3s alternate infinite linear;
}

@keyframes shining{
    from{
        filter: drop-shadow(0 0 3px white);
    }
    to{
        filter: drop-shadow(0 0 12px white);
    }
}
/*Nav-right-----------------------------------------------*/
.nav-right{
    height: 100%; width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-right{justify-content: flex-end;}

/*Nav-Left-----------------------------------------------*/
.nav-left{
    height: 100%; min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-left .menu-area{justify-content: flex-end;}
/*Nav-login-------------------------------------*/
.nav-user{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.login::before{
    display: none;
}

/*Pesquisa-------------------------------------*/
.nav-user i{ 
    cursor: pointer;
}

.section-search{
    position: absolute; top: 7vh; left: 50%;transform: translate(-50%);
    display: flex; align-items: center; justify-content: center;
    padding: 1%; 
    animation: show .3s cubic-bezier(.39,1.27,.77,1.25);
    z-index: 0;
}

@keyframes show{
    from{
        opacity: 0;
        top: 0;
    }
    to{
        opacity: 1;
        top: 7vh;
    }
}

.section-search form{
    display: flex; align-items: center; justify-content: center;
    height: 100%;width: 100%;
    box-shadow: 0 2px 10px black; backdrop-filter: blur(20x);
}

.section-search input{
    height:5vh;min-width: 2vw;
    padding: 1%;margin:0;font-size: 1rem;
    outline: none; border: none;
    background: $input-color; color: white;
    border-bottom: 1px solid $primary-color;
    transition: all .3s;
}

.section-search input:focus{
    border-bottom: 1px solid #00bbfa;
}
.section-search input:hover{
    border-bottom: 1px solid #00bbfa;
}

.hide{
    display: none !important;
    transition: all 0.3s ease-in;
}

#nav-search{
    min-width: 40vw;
}

#send-search{
    background: $input-color url(/assets/Icons/icons8-search-512.svg) center center no-repeat;
    background-size: 70%;
    border-right: 1px solid $primary-color;
    margin-left: -1px;
    cursor: pointer;
}

#send-search:focus{
    border-right: 1px solid #00bbfa;
}

/*Nav-Mobile---------------------------------------------------------------*/
.nav-mobile{
    position: relative;
    display: none;
    height: 100%;width: 45%;
    flex-direction: column;align-items:flex-start;justify-content:center;
    z-index: 10;
}

.nav-mobile ul{
    height: 45%;
}

#nav_mobile_menu{
    border: none;
    background: transparent;
    height: 100%;
    cursor: pointer;
    color: white;
}

.nav-mobile ul button i{
    height: 100%;
}

.fi-rr-menu-burger{
 display: block;
 animation: return .3s ease-in-out;
}
.fi-br-cross{
display: none;
animation: return .3s ease-in-out;
}

/*Atractive-------------------------------------------------------------------------------------------------*/
.atractive{
    display: flex;
    align-items: center;
    z-index: 0;
}

.atractive-text{
    position: relative;
    background: transparent;
    z-index: 0;
    opacity: 0;
    animation: attractive-open 2s 1.8s ease-in-out forwards;
    height: 45vh;
    display: flex;flex-direction: column; align-items: flex-start;justify-content: center;
    
}

@keyframes attractive-open{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.atractive h2{

    font-size: 89px;
    font-weight: 600;
    font-family: $exported-font;    
    z-index: 0;
    color: #fff;
    
}

.atractive p{
    font-size: 24px;
    color: #d6d6d6;
    opacity: 0;
    z-index: 0;
    font-weight: 200;
    animation: back-to-default .8s 1.9s cubic-bezier(.39,1.27,.77,1.25) forwards;
}
.atractive a{
    opacity: 0;cursor: pointer;
    padding: .4rem 1rem;
    text-transform: uppercase;
    background: $primary-color;
    border: 1px double $primary-color;
    
    margin:5% 0;
    border-radius: .3rem;
    font-weight: 600;line-height: 1.5;letter-spacing: 120%;
    
    transition: all .3s;
    animation: attractive-open 1s 2.9s cubic-bezier(.39,1.27,.77,1.25) forwards; 
}
.atractive a:hover{
    letter-spacing: 2px;
    background: transparent;
}
.atractive a::before{display: none};

@keyframes back-to-default{
    from{
        transform: translateY(100%);
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.ver-line-bold{
    position: relative;
    height: 50vh;
    width: 8px;
    background-color: $primary-color;
    margin: 0 3vw 0 7vw;
    z-index: 1;
    animation: header-line-in 1.8s ease-in-out forwards;   
}


@keyframes header-line-in{
    0%{
        transform: translateX(510px);
    }

    100%{
        transform: none;  
    }
}

.ver-line-bold-mobile{
    display: none;
    position: relative;
    height: 10px ;
    width: 550px;
    background-color: #00df77;
    margin: 0 3vw 0 7vw;
    animation: header-mobile-in 1.8s ease-in-out forwards;
    z-index: 1;   
}

.ver-line-bold-mobile::before{
    content: '';
    position: absolute;left: 0;top: 0;
    width:100%; height: 0;
    transform: translateY(-100%);
    background-color: #121212;
    animation: header-mobile-in-befo 1.8s ease-in-out forwards;
}

@keyframes header-mobile-in{
    from{
        transform: translateY(-300px);
    }
}

@keyframes header-mobile-in-befo{
    0%{
        height: 10px;
    }
    50%{
        height: 150px;
    }
    100%{
        height: 0;
    }
}
/*Cards-------------------------------------------------------------------------------------------------*/
.student-life{
    display: flex; justify-content: space-around; align-items: flex-start;
    text-align: center;
    min-height: 20vh; width: 100%;
}

.student-life-img{
    position: relative;
    width: 50%;height: 500px;
    background: url(/assets/images/student-life/a4.jpg) center center;
    box-shadow: inset 0 0 10px 10px $background-light;
    background-size: cover;
}
.student-life-img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background:linear-gradient(to right,#e8e6e900,#e8e6e900,#e8e6e9);
}

.student-life-text{
    width: 50%; height: 100%;margin: 2% 0;
    font-size: 20px;
    letter-spacing: 1.27px;
}

.student-life-text h2{
    font-family: $exported-font;color: $primary-strong;
    text-transform: uppercase;
}
.student-life-text p{
    padding: 2% 10%;

}

/*Advantages-------------------------------------------------------------------------------------------------*/
.advantages{
    display: flex;flex-direction: column;justify-content: center;align-items: center;
    width: 100%;
    padding: 5%;
}

.advantages .title{
    margin-bottom: 2%;
    font-size: 2rem;
    color: $primary-strong;
}



.advantages-cards{
    display: flex; justify-content: center;flex-wrap: wrap;
    height: 100%;width: 100%;gap: 50px;
}

.advantages-cards div{
    max-width: 250px;
    text-align: center;
    cursor: pointer;
    transition: all .5s;
}
.advantages-cards div h4{
    color: $primary-strong;
}

.advantages-cards div:hover{
    border-radius: 10px 10px 0 0;
    transform: translateY(-3%);
}

.advantages-cards div img{
    height: 150px;
}


/*Cards-------------------------------------------------------------------------------------------------*/

.final-main-text h4{
    margin-top:5rem;
    color: $primary-strong; 
    font-weight: 400;
}

.final-main-text a{
    font-size: 3rem;color: black
}


/*-------Ads-------*/
.top-return{
    position: sticky;
    top: 93vh;
    margin: 0.5%;
    float: right;
    height: 6vh;
    width: 6vh;
    background: rgba(0, 0, 0, 0.8) url(/assets/Icons/icons8-chevron-96.png) no-repeat center;
    background-size: 70%;
    border-radius: 30%;
    transition: 1s;
    cursor: pointer;
}

.top-return:hover{
    transform: rotate(360deg);
    
}
/*-------Ads-------*/
/*Footer-------------------------------------*/
footer{
    width: 100%;
    background-color: black;
    color: #e1e1e1;
    
}

.footer-components{
    margin: 0 2.5% 0 2.5%;
    padding-top: 1%;
}
/*Footer Content-------------------------------------*/
.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/*Footer Left-------------------------------------*/
.footer-left a{
    display: block;
}
/*Footer Center-------------------------------------*/

/*Footer right-------------------------------------*/
.footer-right a{
    color: $primary-color;
}
.footer-right a:hover{
    filter: brightness(1.2);
}
/*Footer Media-------------------------------------*/
.footer-media{
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-media i{
    height:4vh;
    transition: all .15s, color;
}

.footer-media i:hover{
    transform: scale(120%);
}

.footer-media a:nth-of-type(1):hover{
    color: #1877f2;
}
.footer-media a:nth-of-type(2):hover{
    color: #1da1f2;
}
.footer-media a:nth-of-type(3):hover{
    color: #d14090;
}


.footer-media a{
    margin: 0 1%;
    font-size: 1.27rem;
}

footer a::before{
    content: none;
}
/*Footer End-------------------------------------*/
.footer-line{
    height: 2px;
    width: 100%;
    background-color: $primary-color;
}

.end{
    display: flex;
    align-items: center;
    padding: 0 1%;
    height: 6vh;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    
}

.end p{
    color: #a6a6a6;
}
.end a{
    height: 80%;
    margin: 0 .5em;
    
}
.end a img{
    filter: invert(100%);
    height: 100%;
    cursor: pointer;
}

/*Responsividade*/

@media (max-width:1000px)
{
    .nav-left ul{
        display: none;
        width: auto;
    }

    .nav-right{
        justify-items: end;
        width: auto;
    }
    .nav-right ul{
        display: none;
    }
    .nav-logo{
        display: none;
    }

    .nav-mobile{
        display: flex;
    }

    header{
        justify-content: center;        
    }
    .atractive{
        text-align: center;
        flex-direction: column-reverse;
    }
    .ver-line-bold{display: none};
    .ver-line-bold-mobile{display: block;}
}



/*@media (prefers-color-scheme:dark){
  *  body{
        background: $background-dark;
    }
    p{
        color: #e8e6e9;
    }
}
*/