@import url(../default/style.css);
@import url(../default/navbar.css);
@import url(../default/footer.css);
/*-------------------------------------------Big-Fathers-----------------------------------------------------*/
body {
  color: white;
}

p {
  color: #242424;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #121212;
  color: white;
}

main {
  margin: auto;
  padding: 5% 5%;
}

/*Atractive-------------------------------------------------------------------------------------------------*/
.atractive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

.atractive-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  opacity: 0;
  z-index: 0;
  -webkit-animation: attractive-open 2s 1.8s ease-in-out forwards;
          animation: attractive-open 2s 1.8s ease-in-out forwards;
  height: 45vh;
}

@-webkit-keyframes attractive-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes attractive-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.atractive h2 {
  font-size: 89px;
  font-weight: 600;
  font-family: var(--exported-font);
  z-index: 0;
  color: #fff;
}

.atractive p {
  font-size: 24px;
  color: #d6d6d6;
  opacity: 0;
  z-index: 0;
  font-weight: 200;
  -webkit-animation: back-to-default 0.8s 1.9s cubic-bezier(0.39, 1.27, 0.77, 1.25) forwards;
          animation: back-to-default 0.8s 1.9s cubic-bezier(0.39, 1.27, 0.77, 1.25) forwards;
}

.atractive a {
  opacity: 0;
  cursor: pointer;
  padding: .4rem 1rem;
  text-transform: uppercase;
  background: var(--primary-low);
  border: 1px double var(--primary-low);
  color: #121212;
  margin: 5% 0;
  border-radius: .3rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: .3px;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-animation: attractive-open 1s 2.9s cubic-bezier(0.39, 1.27, 0.77, 1.25) forwards;
          animation: attractive-open 1s 2.9s cubic-bezier(0.39, 1.27, 0.77, 1.25) forwards;
}

.atractive a:hover {
  letter-spacing: 2px;
  background: transparent;
  color: var(--background-light);
}

.atractive a::before {
  display: none;
}

@-webkit-keyframes back-to-default {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes back-to-default {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.ver-line-bold {
  position: relative;
  height: 50vh;
  width: 8px;
  background-color: var(--primary-color);
  margin: 0 3vw 0 7vw;
  z-index: 1;
  -webkit-animation: header-line-in 1.8s ease-in-out forwards;
          animation: header-line-in 1.8s ease-in-out forwards;
}

@-webkit-keyframes header-line-in {
  0% {
    -webkit-transform: translateX(510px);
            transform: translateX(510px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes header-line-in {
  0% {
    -webkit-transform: translateX(510px);
            transform: translateX(510px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.ver-line-bold-mobile {
  display: none;
  position: relative;
  height: 10px;
  width: 550px;
  background-color: var(--primary-color);
  margin: 0 3vw 0 7vw;
  -webkit-animation: header-mobile-in 1.8s ease-in-out forwards;
          animation: header-mobile-in 1.8s ease-in-out forwards;
  z-index: 1;
}

.ver-line-bold-mobile::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: #121212;
  -webkit-animation: header-mobile-in-befo 1.8s ease-in-out forwards;
          animation: header-mobile-in-befo 1.8s ease-in-out forwards;
}

@-webkit-keyframes header-mobile-in {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}

@keyframes header-mobile-in {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}

@-webkit-keyframes header-mobile-in-befo {
  0% {
    height: 10px;
  }
  50% {
    height: 150px;
  }
  100% {
    height: 0;
  }
}

@keyframes header-mobile-in-befo {
  0% {
    height: 10px;
  }
  50% {
    height: 150px;
  }
  100% {
    height: 0;
  }
}

/*Cards-------------------------------------------------------------------------------------------------*/
.student-life {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  min-height: 20vh;
  width: 100%;
}

.student-life-img {
  position: relative;
  width: 50%;
  height: 500px;
  background: url(/assets/images/student-life/a4.jpg) center center;
  -webkit-box-shadow: inset 0 0 10px 10px var(--background-light);
          box-shadow: inset 0 0 10px 10px var(--background-light);
  background-size: cover;
}

.student-life-img::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#e8e6e900), color-stop(#e8e6e900), to(#ffffff));
  background: linear-gradient(to right, #e8e6e900, #e8e6e900, #ffffff);
}

.student-life-text {
  width: 50%;
  height: 100%;
  margin: 2% 0;
  font-size: 20px;
  letter-spacing: 1.27px;
}

.student-life-text h2 {
  font-family: var(--exported-font);
  color: var(--primary-strong);
  text-transform: uppercase;
}

.student-life-text p {
  padding: 2% 10%;
  margin-bottom: 5%;
}

.student-life-text a {
  color: white;
  background: var(--primary-strong);
  padding: .5rem 1rem;
  border-radius: .3rem;
  font-weight: 500;
}

.student-life-text a:hover {
  color: var(--primary-strong);
  background: transparent;
  border: 1px solid var(--primary-strong);
  padding: .5rem 1rem;
  letter-spacing: 2px;
}

.student-life-text a::before {
  display: none;
}

/*Advantages-------------------------------------------------------------------------------------------------*/
.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 5%;
}

.advantages .title {
  margin-bottom: 2%;
  font-size: 2rem;
  color: var(--primary-strong);
}

.advantages-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
  gap: 50px;
}

.advantages-cards div {
  max-width: 250px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.advantages-cards div h4 {
  color: var(--primary-strong);
}

.advantages-cards div:hover {
  border-radius: 10px 10px 0 0;
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.advantages-cards div img {
  height: 150px;
}

/*Cards-------------------------------------------------------------------------------------------------*/
.final-main-text h4 {
  margin-top: 5rem;
  color: var(--primary-strong);
  font-weight: 400;
}

.final-main-text a {
  font-size: 3rem;
  color: black;
}

/*-------Ads-------*/
.top-return {
  position: -webkit-sticky;
  position: sticky;
  top: 93vh;
  margin: 0.5%;
  float: right;
  height: 6vh;
  width: 6vh;
  background: rgba(0, 0, 0, 0.8) url(/assets/Icons/icons8-chevron-96.png) no-repeat center;
  background-size: 70%;
  border-radius: 30%;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.top-return:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*-------Ads-------*/
/*Responsividade*/
@media (max-width: 1300px) {
  .atractive-text h2 {
    font-size: 5.6rem;
    line-height: 120%;
  }
  .nav-left {
    min-width: 90%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .menu {
    min-height: 0;
  }
}

@media (max-width: 1000px) {
  .nav-components {
    margin: 0 3%;
  }
  #nav-search {
    min-width: 65vw;
  }
  #send-search {
    width: 4vw;
  }
  .nav-left ul {
    display: none;
    width: auto;
  }
  .nav-right ul {
    display: none;
  }
  .nav-logo {
    display: none;
  }
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main {
    padding: 2%;
    margin: 0;
  }
  .student-life-img {
    display: none;
  }
  .student-life-text {
    width: 100%;
  }
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .atractive {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .atractive a {
    text-align: center;
    margin: 22px auto;
  }
  .ver-line-bold {
    display: none;
  }
  .ver-line-bold-mobile {
    display: block;
  }
}

/*@media (prefers-color-scheme:dark){
  *  body{
        background: var(--background-dark);
    }
    p{
        color: #e8e6e9;
    }
}
*/
/*# sourceMappingURL=index.css.map */