@import url(../default/style.css);
@import url(../default/navbar.css);
@import url(../default/footer.css);
/*-------------------------------------------Big-Fathers-----------------------------------------------------*/

main{
    margin:auto;
    padding:5%;
    height: 200vh;
}

/*-------------------------------------------Header-----------------------------------------------------*/
header{
    background: #121212;color: white;
    height: 60vh;width: 100%;
    border: 1px solid #33ff00;
}
/*Header-top----------------------------------------------------------------*/

.header-top{
    width: 100%;height: 90%;
    display: flex;align-items: center;justify-content: center;
    gap: 5%;padding: 0 10%;
    background:linear-gradient( to bottom, #030616, #091241);
    animation:city_lights 4s alternate infinite;
}

.header-text {
    text-transform: uppercase;
    font-size: 2vw;
    position: relative;
    width: 67%;
    text-align: center;
}

.header-text h1{
    display: none;
    width: 100%;
    height: 100%;
    transition: .5s;
    animation: in-out 4s alternate infinite;
    font-size: clamp(2rem, 5vw, 5rem);
}
@keyframes in-out{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.header-text h1.selected {display: block;}



.header-top img{
    width: 23%;
    animation: shining 4s alternate infinite;
}
@keyframes shining{
    from{
        filter: none;
    }
    to{
        filter: drop-shadow(0 0 20px white);
    }
}
@keyframes city_lights{
    to{
        filter: brightness(1.4);
    }
}

/*Header-bottom----------------------------------------------------------------*/
.header-bottom{position: relative;height: 10%; width: 100%; /*background: rgba(255,255,255,0.1);*/}

.header-areas{
    display:flex;align-items: center;
    width: 90%;height: 100%;
    margin: 0 5%;/*gap:1vw;*/
}

.header-areas button{
    height: 100%;min-width: 120px;
    padding: 0 .5vw;
    background: #121212;
    border: none; outline: none;
    text-align: center; font-size: .8vw;
    color: white;font-weight: 600;
    transition: .3s;
    cursor: pointer;
}
.header-areas button:hover{
    background: #363636;
}
.header-areas button:focus{
    background: white;
    color: black;
    font-weight: 600;
}

.header-links{
    position: absolute;
    min-height: 30vh;
    background: white;
    width: 100%;
    box-shadow: 0 5px 5px -3px lightgray;
}

.box{
    height: 20px;width:20px;background: #33ff00;
}
/*Responsividade*/

@media (max-width:1000px)
{
    .nav-left ul{
        display: none;
        width: auto;
    }

    .nav-right{
        justify-items: end;
        width: auto;
    }
    .nav-right ul{
        display: none;
    }

    .nav-mobile{
        display: flex;
    }

    .ver-line-bold{display: none};
    .ver-line-bold-mobile{display: block;}
}
/*
@media (prefers-color-scheme:dark){
    body{
        background: $dark-background;
    }
    p{
        color: #e8e6e9;
    }
    .student-life-img::before{
        background:linear-gradient(to right,#e8e6e900, $dark-background);
    }
}
*/