@import url(../default/style.css);
@import url(../default/navbar.css);
@import url(../default/footer.css);
/*-------------------------------------------Big-Fathers-----------------------------------------------------*/
/*--------------Variables--------------*/
:root{
    --bg-sl:#e6e6e6;
    --bg-pure-white:white;
    --sl-text-light:white;
    --sl-text-light1:#f8f8f8;
    --sl-text-dark:black;
    --sl-text-dark1:#121212;
    --sl-text-dark2:#323232;
    --sl-par-size:1.125rem;
    --sl-title-size:2rem;
    --header-btn-hover:#363636;
    --animation-pure-white:white;

    --primary-strong2:#00614c;
}
/*--------------Variables--------------*/
.student-life{
    padding: 5%;
    background: var(--bg-sl);
    
}
/*-------------------------------------------Header-----------------------------------------------------*/
header{
    background: var(--background-dark);
    height: 55vh;width: 100%;
}
/*Header-top----------------------------------------------------------------*/

.header-top{
    width: 100%;height:49vh;
    display: flex;align-items: center;justify-content: center;
    gap: 5%;padding: 0 10%;
    background:linear-gradient( to bottom, #030616, #091241);
    animation:city_lights 4s alternate infinite;
}

.header-text {
    text-transform: uppercase;
    font-size: 2vw;
    position: relative;
    width: 67%;
    text-align: center;
   
}

.header-text h1{
    display: none;
    width: 100%;
    height: 100%;
    transition: .5s;
    animation: in-out 4s alternate infinite;
    font-size: clamp(2rem, 2vw + 1rem, 5vw);
    color: var(--sl-text-light);
}
@keyframes in-out{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.header-text h1.selected {display: block;}



.header-top img{
    width: 23%;
    animation: shining 4s alternate infinite;
}
@keyframes shining{
    from{
        filter: none;
    }
    to{
        filter: drop-shadow(0 0 20px var(--animation-pure-white));
    }
}
@keyframes city_lights{
    to{
        filter: brightness(1.5);
    }
}

/*Header-bottom----------------------------------------------------------------*/
.header-bottom{position: relative;height: 6vh; width: 100%;}

.header-areas{
    display:flex;align-items: center;justify-content: center; flex-wrap: wrap;
    width: 90%;height: 100%;
    margin: 0 5%;/*gap:1vw;*/
}

.header-areas button{
    height: 100%;min-width: 130px;
    padding: 0 .5vw;
    background: transparent;
    text-align: center; font-size:clamp(.8rem,.8vw,10vw) ;
    color: var(--sl-text-light);font-weight: 600;
    transition: .3s;
    cursor: pointer;
}
.header-areas button:hover{
    background: var(--header-btn-hover);
}
.header-areas button:focus{
    background: var(--bg-pure-white);
    color: black;
    font-weight: 600;
    box-shadow: 0 0 10px -2px lightgray;
}

/*Header-Links----------------------------------------------------------------*/
.header-links{
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;width: 100%;
    background: white;
    color: #121212;
    box-shadow: 0 5px 5px -3px lightgray;
    display: flex;overflow: hidden;
    padding:0 3rem;gap: 2rem;
    transition: .3s;
    z-index: 5;
}
.header-links h3:foc{
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: black;
}
.header-links a{
    position: relative;
    display: block;
    margin: 5px 0;width: fit-content;
    font-size: .9rem;color: #121212;
    transition: .5s;
}
.header-links a::before{
    content: '»';
    color: var(--primary-strong);
    padding-right: 5px;
    position: static;
    background: local;
}
.header-links a:hover::after{
    content: '';
    position: absolute;
    top: 100%;left: 0;
    width:100%;height: 1px;
    background: var(--primary-strong);
}
/*header Links onclick----------------------------------------------------------------*/
.header-areas button:nth-child(1):focus ~ .header-links:nth-of-type(1){height: auto;padding:1% 3rem;gap: 2rem;}
.header-areas button:nth-child(2):focus ~ .header-links:nth-of-type(2){height: auto;padding:1% 3rem;gap: 2rem;}
.header-areas button:nth-child(3):focus ~ .header-links:nth-of-type(3){height: auto;padding:1% 3rem;gap: 2rem;}
.header-areas button:nth-child(4):focus ~ .header-links:nth-of-type(4){height: auto;padding:1% 3rem;gap: 2rem;}
.header-areas button:nth-child(5):focus ~ .header-links:nth-of-type(5){height: auto;padding:1% 3rem;gap: 2rem;}
.header-areas button:nth-child(6):focus ~ .header-links:nth-of-type(6){height: auto;padding:1% 3rem;gap: 2rem;}
.header-areas button:nth-child(7):focus ~ .header-links:nth-of-type(7){height: auto;padding:1% 3rem;gap: 2rem;}

/*section-student-life----------------------------------------------------------------*/
.student-life > h2{
    margin: auto;padding-top: 5%;
    display: flex;justify-content: center;align-items: center;
    text-transform: uppercase;
    font-size: clamp(1.8rem, 2rem + 1vw, 6rem);
}
/*--------Student-Life--------*/

/*---progress-bar*/

.progress-bar{
    width: 100%;
    min-height: 400px;
    
    display: flex;align-items: center;justify-content: center;
}

.circle{
    position: relative;
    background: var(--bg-sl) /*url(../../assets/logo/shiba-logo.png) center center no-repeat*/;
    background-size: 60%;
    height: 80px;width: 80px;border-radius: 50%;
    box-shadow: 
    0px 0px 0px 3px var(--bg-sl),
    0px 0px 0px 5px var(--primary-strong);
    scroll-snap-align: center;
    
}
.circle::before{
    content: '';
    opacity: 0;
    position: absolute;
    left: 50%;top:50%;transform: translate(-50%,-50%);
    background-color: var(--primary-strong);
    height: 70%;width: 70%;border-radius: 50%;
    z-index: 0;
    transition: .3s;

}
.circle:hover::before{
    opacity: 1;
}

.circle a{
    display: block;
    height: 100%;width: 100%;border-radius: 50%;
    opacity: 0;
    cursor: pointer;
}
.bar{
    background: white;
    background-size: 60%;
    height: 20px;width: 160px;
    margin-inline: -.5%;
}

/*---Cards---*/
.sl-card{
    position: absolute;left: 0;top: 0;
    display: flex;align-items: center;justify-content: space-around;
    padding:2%;margin:4%;border-radius: 15px;
    opacity:0;pointer-events: none;scroll-margin: 350px;
    background:linear-gradient(to bottom,var(--primary-strong),var(--primary-strong2));
}

/*---Cards-text---*/
.text{
    padding: 2%;
    font-size: 20px;
    color: var(--sl-text-light1);
}

.text h3{
    font-size: var(--sl-title-size);
}
.text a{
    position: absolute;
    right: 20px;
    top: 40px;
    display: block;
    height: 50px;width: 50px;
    pointer-events: all;
}
.text a::before{
    display: none;
}
.text li{
    list-style-type: disc;
    padding-left: 2rem;
}
/*---Cards-Img---*/
.sl-card img{
    height: 70%;
}
/*---Cards-selecionados---*/
.sl-card:target{
    position: relative;
    animation: show-card .7s forwards;
}

@keyframes show-card{
    to{
        opacity: 1;
    }
}

/*Responsividade*/

@media (max-width:1000px)
{
    .nav-left ul{
        display: none;
        width: auto;
    }

    .nav-right{
        justify-items: end;
        width: auto;
    }
    .nav-right ul{
        display: none;
    }

    .nav-mobile{
        display: flex;
    }

    .ver-line-bold{display: none};
    .ver-line-bold-mobile{display: block;}
}
/*
@media (prefers-color-scheme:dark){
    body{
        background: $dark-background;
    }
    p{
        color: #e8e6e9;
    }
    .student-life-img::before{
        background:linear-gradient(to right,#e8e6e900, $dark-background);
    }
}
*/