@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "HK Grotesk Bold";
  src: url(../assets/fonts/FontsFree-Net-HKGrotesk-Bold.woff2);
}

/*font-family: 'Poppins', sans-serif;*/
/*-------------------------------------------General-----------------------------------------------------*/
/*---variables---*/
/*#04081f*/
/*---end-variables---*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #e8e6e9;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #e6e6e6;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #121212;
}

::-webkit-scrollbar-thumb {
  background-color: #2BC4A2;
  border-radius: 3px;
}

/*---------------------------Vertical-Line---------------------------*/
.ver-line {
  width: 1px;
  height: 50%;
  margin: 1em;
  background-color: #2BC4A2;
}

/*---Default---*/
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.65rem;
  line-height: 150%;
  text-transform: uppercase;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.27rem;
  line-height: 140%;
  color: #121212;
}

.title-ss {
  font-size: 1.5rem;
  line-height: 28px;
  color: #2BC4A2;
}

.title-s {
  font-size: 1.25rem;
  line-height: 24px;
  color: #2BC4A2;
}

.title-mm {
  font-size: 2.5rem;
  line-height: 44px;
  color: #2BC4A2;
}

.title-m {
  font-size: 2rem;
  line-height: 36px;
  color: #2BC4A2;
}

.title-gg {
  font-size: 4rem;
  line-height: 72px;
  color: #2BC4A2;
}

.title-g {
  font-size: 3rem;
  line-height: 56px;
  color: #2BC4A2;
}

.par-g {
  font-size: 1.125rem;
  line-height: 36px;
  color: #2BC4A2;
}

.par-m {
  font-size: 1rem;
  line-height: 24px;
  color: #2BC4A2;
}

.par-s {
  font-size: .875rem;
  line-height: 22px;
  color: #2BC4A2;
}

.par-ss {
  font-size: .75rem;
  line-height: 18px;
  color: #2BC4A2;
}

.link {
  position: relative;
  text-decoration: none;
  color: lightgray;
  -webkit-transition: .4s;
  transition: .4s;
}

.link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  background-color: #2BC4A2;
  width: 20%;
  height: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.link:hover {
  color: white;
}

.link:hover::before {
  width: 100%;
}

/*---Default---*/
/*-----------------------------------------------------Links-----------------------------------------------------*/
a {
  position: relative;
  text-decoration: none;
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

a:hover {
  color: lightgray;
}

a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  background-color: #2BC4A2;
  width: 20%;
  height: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

a:hover::before {
  width: 100%;
}

/*-------------------------------------------Big-Fathers-----------------------------------------------------*/
header {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #121212;
  color: white;
}

main {
  margin: auto;
  padding: 5%;
}

/*-----------------------------------------Dropbox-----------------------------------------*/
.menu-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  position: relative;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
  width: 33%;
  min-width: 150px;
  font-weight: 600;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
  z-index: 7;
}

.menu:hover {
  text-shadow: 0 0 10px white;
}

.menu:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  background-color: #2BC4A2;
  width: 0%;
  height: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 3;
}

.menu:hover::before {
  width: 100%;
}

ul, li {
  list-style: none;
  cursor: pointer;
}

.submenu {
  position: absolute;
  width: 100%;
  top: 115%;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
  color: white;
  text-shadow: none;
  cursor: default;
  font-weight: 400;
  z-index: 2;
  padding: 1%;
}

.submenu li {
  padding: 2%;
}

.submenu li:hover {
  color: #2BC4A2;
  background-color: rgba(0, 0, 0, 0.05);
}

.menu:hover > .submenu {
  display: block;
}

/*--------------------------------------------Dropbox-Mobile--------------------------------------------*/
.mobile-menu-total {
  display: block;
  position: absolute;
  top: 95%;
  left: -5%;
  z-index: 7;
}

.mobile-menu {
  position: relative;
  top: 15%;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
  width: 43vw;
  font-weight: 600;
  padding: 2%;
  background: rgba(100, 100, 100, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-animation: return .3s ease-in-out;
          animation: return .3s ease-in-out;
  z-index: 7;
}

@-webkit-keyframes return {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes return {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mobile-menu:hover {
  text-shadow: 0 0 10px white;
}

.mobile-menu:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  background-color: #2BC4A2;
  width: 0%;
  height: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.mobile-menu:hover::before {
  width: 100%;
}

ul, li {
  list-style: none;
  cursor: pointer;
}

.mobile-submenu {
  width: 100%;
  top: 115%;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
  color: white;
  text-shadow: none;
  cursor: default;
  font-weight: 400;
  z-index: 7;
}

.mobile-submenu li {
  padding: 2%;
  z-index: 5;
}

.mobile-submenu li:hover {
  color: #2BC4A2;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.05);
}

.mobile-menu:hover > .mobile-submenu {
  display: block;
  z-index: 5;
}

/*------------------------------------------------------Navbar------------------------------------------------------*/
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 7vh;
  font-size: 0.9em;
}

.nav-components {
  position: relative;
  height: 100%;
  width: 97.5%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2%;
}

/*Nav-logo-----------------------------------------------*/
.nav-logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 65px;
  width: 65px;
  background: white url(/assets/logo/logo3.png) center bottom no-repeat;
  background-size: 95%;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 0 8px darkgray;
          box-shadow: 0 0 8px darkgray;
  -webkit-transition: height .7s ease-in-out;
  transition: height .7s ease-in-out;
  z-index: 10;
}

.nav-logo:hover {
  height: 80vh;
  cursor: pointer;
  pointer-events: all;
}

/*Nav-right-----------------------------------------------*/
.nav-right {
  height: 100%;
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-right .menu-area {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/*Nav-Left-----------------------------------------------*/
.nav-left {
  height: 100%;
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-left .menu-area {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*Nav-login-------------------------------------*/
.nav-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login::before {
  display: none;
}

/*Pesquisa-------------------------------------*/
.nav-user i {
  cursor: pointer;
}

.section-search {
  position: absolute;
  top: 7vh;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1%;
  -webkit-animation: show 0.3s cubic-bezier(0.39, 1.27, 0.77, 1.25);
          animation: show 0.3s cubic-bezier(0.39, 1.27, 0.77, 1.25);
  z-index: 0;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 7vh;
  }
}

@keyframes show {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 7vh;
  }
}

.section-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0 2px 10px black;
          box-shadow: 0 2px 10px black;
  -webkit-backdrop-filter: blur(20x);
          backdrop-filter: blur(20x);
}

.section-search input {
  height: 5vh;
  min-width: 2vw;
  padding: 1%;
  margin: 0;
  font-size: 1rem;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-bottom: 1px solid #2BC4A2;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section-search input:focus {
  border-bottom: 1px solid #00bbfa;
}

.hide {
  display: none !important;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#nav-search {
  min-width: 40vw;
}

#send-search {
  background: rgba(0, 0, 0, 0.6) url(/assets/Icons/icons8-search-512.svg) center center no-repeat;
  background-size: 70%;
  border-right: 1px solid #2BC4A2;
  margin-left: -1px;
  cursor: pointer;
}

#send-search:focus {
  border-right: 1px solid #00bbfa;
}

/*Nav-Mobile---------------------------------------------------------------*/
.nav-mobile {
  position: relative;
  display: none;
  height: 100%;
  width: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

.nav-mobile ul {
  height: 45%;
}

#nav_mobile_menu {
  border: none;
  background: transparent;
  height: 100%;
  cursor: pointer;
  color: white;
}

.nav-mobile ul button i {
  height: 100%;
}

.fi-rr-menu-burger {
  display: block;
  -webkit-animation: return .3s ease-in-out;
          animation: return .3s ease-in-out;
}

.fi-br-cross {
  display: none;
  -webkit-animation: return .3s ease-in-out;
          animation: return .3s ease-in-out;
}

/*Atractive-------------------------------------------------------------------------------------------------*/
.atractive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  z-index: 0;
}

.atractive-text {
  position: relative;
  background: transparent;
  z-index: 0;
  opacity: 0;
  -webkit-animation: attractive-open 2s 1.8s ease-in-out forwards;
          animation: attractive-open 2s 1.8s ease-in-out forwards;
}

@-webkit-keyframes attractive-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes attractive-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.atractive h2 {
  font-size: 89px;
  font-weight: 800;
  font-family: HK Grotesk Bold, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  z-index: 0;
  color: #fff;
}

.atractive p {
  font-size: 24px;
  color: #e6e6e6;
  opacity: 0;
  z-index: 0;
  -webkit-animation: back-to-default 0.8s 1.9s cubic-bezier(0.39, 1.27, 0.77, 1.25) forwards;
          animation: back-to-default 0.8s 1.9s cubic-bezier(0.39, 1.27, 0.77, 1.25) forwards;
}

@-webkit-keyframes back-to-default {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes back-to-default {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.ver-line-bold {
  position: relative;
  height: 50vh;
  width: 10px;
  background-color: #2BC4A2;
  margin: 0 3vw 0 7vw;
  z-index: 1;
  -webkit-animation: header-line-in 1.8s ease-in-out forwards;
          animation: header-line-in 1.8s ease-in-out forwards;
}

.ver-line-bold::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 50vw;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #121212;
}

@-webkit-keyframes header-line-in {
  0% {
    -webkit-transform: translateX(510px);
            transform: translateX(510px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes header-line-in {
  0% {
    -webkit-transform: translateX(510px);
            transform: translateX(510px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.ver-line-bold-mobile {
  display: none;
  position: relative;
  height: 10px;
  width: 550px;
  background-color: #00df77;
  margin: 0 3vw 0 7vw;
  -webkit-animation: header-mobile-in 1.8s ease-in-out forwards;
          animation: header-mobile-in 1.8s ease-in-out forwards;
  z-index: 1;
}

.ver-line-bold-mobile::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: #121212;
  -webkit-animation: header-mobile-in-befo 1.8s ease-in-out forwards;
          animation: header-mobile-in-befo 1.8s ease-in-out forwards;
}

@-webkit-keyframes header-mobile-in {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}

@keyframes header-mobile-in {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}

@-webkit-keyframes header-mobile-in-befo {
  0% {
    height: 10px;
  }
  50% {
    height: 150px;
  }
  100% {
    height: 0;
  }
}

@keyframes header-mobile-in-befo {
  0% {
    height: 10px;
  }
  50% {
    height: 150px;
  }
  100% {
    height: 0;
  }
}

/*Cards-------------------------------------------------------------------------------------------------*/
.student-life {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  min-height: 20vh;
  width: 100%;
}

.student-life-img {
  position: relative;
  width: 50%;
  height: 500px;
  background: url(/assets/images/student-life/a4.jpg) center center;
  -webkit-box-shadow: inset 0 0 10px 5px #e8e6e9;
          box-shadow: inset 0 0 10px 5px #e8e6e9;
  background-size: cover;
  border: 1px solid #00bbfa;
}

.student-life-img::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#e8e6e900), color-stop(#e8e6e900), to(#e8e6e9));
  background: linear-gradient(to right, #e8e6e900, #e8e6e900, #e8e6e9);
}

.student-life-text {
  width: 50%;
  height: 100%;
  font-size: 20px;
  letter-spacing: 1.27px;
}

.student-life-text h2 {
  font-family: HK Grotesk Bold, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}

.student-life-text p {
  padding: 2% 10%;
}

/*Advantages-------------------------------------------------------------------------------------------------*/
.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  padding: 5%;
  border: 1px solid red;
}

.advantages .title {
  margin-bottom: 2%;
  font-size: 2rem;
}

.advantages-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
  gap: 50px;
  border: 1px solid yellow;
}

.advantages-cards div {
  max-width: 15%;
  border: 1px solid #00df77;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.advantages-cards div h4 {
  color: #2BC4A2;
}

.advantages-cards div:hover {
  -webkit-box-shadow: 0 0 3px gray;
          box-shadow: 0 0 3px gray;
  border-radius: 10px 10px 0 0;
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.advantages-cards div img {
  width: 90%;
}

/*Cards-------------------------------------------------------------------------------------------------*/
.section-cards {
  margin: auto;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1%;
}

.card {
  max-width: 30%;
  min-width: 300px;
  border-radius: 10px;
  margin: 1%;
  padding: 2%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#04081f), to(#091241));
  background: linear-gradient(to bottom, #04081f, #091241);
  color: white;
  text-shadow: 0 0 1px black;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.card p {
  color: #e8e6e9;
}

.card:hover {
  -webkit-transform: translateY(-10%) scale(120%);
          transform: translateY(-10%) scale(120%);
  -webkit-filter: brightness(120%) drop-shadow(0 0 5px gray);
          filter: brightness(120%) drop-shadow(0 0 5px gray);
}

.card img {
  width: 60%;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-filter: drop-shadow(0 0 1px white);
          filter: drop-shadow(0 0 1px white);
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.card:hover img {
  -webkit-filter: drop-shadow(0 0 70px white);
          filter: drop-shadow(0 0 70px white);
}

.card-btn {
  margin: 2%;
  padding: 2% 5%;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
  color: #00bbfa;
  font-family: monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-btn:hover {
  color: #00bbfa;
  background: #2BC4A2;
}

/*-------Ads-------*/
.top-return {
  position: -webkit-sticky;
  position: sticky;
  top: 93vh;
  margin: 0.5%;
  float: right;
  height: 6vh;
  width: 6vh;
  background: rgba(0, 0, 0, 0.8) url(/assets/Icons/icons8-chevron-96.png) no-repeat center;
  background-size: 70%;
  border-radius: 30%;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.top-return:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*-------Ads-------*/
a.title:hover {
  color: #2BC4A2;
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

/*Footer-------------------------------------*/
footer {
  margin: auto;
  width: 100%;
  background-color: black;
  color: white;
}

.footer-components {
  margin: auto;
  width: 95%;
}

/*Footer Content-------------------------------------*/
.footer-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Footer Left-------------------------------------*/
.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/*Footer Center-------------------------------------*/
.footer-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/*Footer right-------------------------------------*/
.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-right a {
  color: #2BC4A2;
}

.footer-right a:hover {
  color: #2BC4A2;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

/*Footer Media-------------------------------------*/
.footer-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer-media i {
  height: 4vh;
  -webkit-transition: all .15s, color;
  transition: all .15s, color;
}

.footer-media i:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

.footer-media a:nth-of-type(1):hover {
  color: #1877f2;
}

.footer-media a:nth-of-type(2):hover {
  color: #1da1f2;
}

.footer-media a:nth-of-type(3):hover {
  color: #d14090;
}

.footer-media a {
  margin: 0 1%;
  font-size: 1.27rem;
}

footer a::before {
  content: none;
}

/*Footer End-------------------------------------*/
.footer-line {
  height: 2px;
  width: 100%;
  background-color: #2BC4A2;
}

.end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1%;
  height: 6vh;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}

.end p {
  color: #e2e2e2;
}

.end a {
  height: 80%;
  margin: 0 .5em;
}

.end a img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  height: 100%;
  cursor: pointer;
  scroll-behavior: smooth;
}

/*Responsividade*/
@media (max-width: 1000px) {
  .nav-left ul {
    display: none;
    width: auto;
  }
  .nav-right {
    justify-items: end;
    width: auto;
  }
  .nav-right ul {
    display: none;
  }
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .atractive {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .ver-line-bold {
    display: none;
  }
  .ver-line-bold-mobile {
    display: block;
  }
}

/*
@media (prefers-color-scheme:dark){
    body{
        background: $dark-background;
    }
    p{
        color: #e8e6e9;
    }
    .student-life-img::before{
        background:linear-gradient(to right,#e8e6e900, $dark-background);
    }
}
*/
/*# sourceMappingURL=student-life.css.map */