<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós - Newron</title>
    <!-------CSS------->
    <link rel="stylesheet" href="../style/about-us.css">
    <!-------Logo Icon------->
    <link rel="icon" href="../src/logo/logo_inverted_no_content.png" type="image/icon type">
    <!-------CSS Icons------->
    <link href="../src/icons/uicons-regular-rounded/css/uicons-regular-rounded.css" rel="stylesheet">
    <link href="../src/icons/uicons-brands/css/uicons-brands.css" rel="stylesheet">
</head>

<body>
    <div class="loader"></div><script src="../script/preloader.js"></script>
    <!-------Top-Return------->
    <span id="top-return" style="position:absolute;"></span>
    <!-------/<div class="ver-line"></div>/------->
    <div class="navbar">
<!-------Navbar------->
<div class="navbar">

    <div class="nav-components">
       <div class="nav-mobile">
          <button id="nav_mobile_menu">
             <i class="fi fi-rr-menu-burger"></i>
             <i class="fi fi-rr-cross"></i>
          </button>
          <ul class="mobile-menu-total hide">
             <li class="mobile-menu">
                <a href="about-us.html">Sobre nós</a>
             </li>
             <li class="mobile-menu"><a href="connections.html">Parceiros</a></li>
             <li class="mobile-menu">Comunidade
                <ul class="mobile-submenu">
                   <li><a href="not-ready.html">Fórum</a></li>
                </ul>
             </li>
          </ul>
       </div>
       <div class="nav-left">
          <div class="nav-logo">
             <a href="index.html"><img src="../src/logo/logo-no-details.png" alt="logo"></a>
          </div>
          <ul class="menu-area">
             <li class="menu">
                <a href="about_us.html">Sobre nós</a>
             </li>
             <li class="menu"><a href="connections.html">Parceiros</li>
             <li class="menu">Comunidade
                <ul class="submenu">
                   <li><a href="not-ready.html">Fórum</a></li>
                </ul>
             </li>
          </ul>
       </div>
       <div class="nav-right">
          <div class="nav-user">
             <i class="fi fi-rr-search"></i>
             <div class="ver-line"></div>
             <a href="sign_in.html" class="login">Entrar</a>
          </div>
       </div>
    </div>
 </div>
 <section class="section-search hide">
    <form action="" method="post">
       <input type="search" name="search" id="nav-search" placeholder="Pesquisar...">
       <input type="submit" id="send-search" value="">
    </form>
 </section>
 <script src="../script/navbar.js"></script>
 <!-------End Navbar------->

    <main>
        grsdghsgsg
    </main>
</body>

</html>